  .my_btn{
            font-size: large;
            border-radius: 20px;
            background-color: aqua;
            color: black;
            font-family: 'Times New Roman', Times, serif;
            outline: none;
        }
        .my_btn:hover{
            color: aquamarine;
            box-shadow: 0 0 5px black;
            background-color: azure;
        }
